@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap')
html {
  box-sizing: border-box;
}
*, *::before, ::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}
html {scroll-behavior: smooth;}
.container {
  max-width: 1370px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.container1 {
  max-width: 1507px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.menu_container {
  display: flex;
  justify-content: space-between;
  min-height: 85px;
}
.menu_img,
.menu_1 {
  margin-top: 31px;
}
.menu_1 ul li a {
  font-size: 20px;
  color: #292929;
  text-decoration: none;
}
.menu_1 ul {
  display: flex;
}
.menu_1 ul li {
  padding-right: 72px;
}
.menu_2 {
  margin-top: 27px;
  display: flex;
}
.menu_2 button {
  width: 183px;
  height: 51px;
  border-radius: 4px;
  padding: 20px 50px;
  background-color: #01996D;
  border: none;
  color: #FFFFFF;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
  margin-top: -10px;
  padding-bottom: 0;
}
.menu_2 p {
  margin-top: 5px;
  padding-right: 35px;
  font-size: 20px;
}
.header {
  min-height: 895px;
  background-image: url(../img/BG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header h1 {
  margin-top: 0;
  padding-top: 175px;
  font-size: 65px;
  font-weight: bold;
  font-family: 'Georgia', sans-serif;
  max-width: 440px;
  color: #01996D;
}
.header p {
  max-width: 420px;
  color: #484848;
  font-size: 20px;
  height: 123px;
  margin-bottom: 18px;
}
.header button {
  width: 247px;
  height: 65px;
  border-radius: 4px;
  padding: 0;
  background-color: #01996D;
  border: none;
  color: #FFFFFF;
  font-size: 20px;
  cursor: pointer;
}
.works h5 {
  font-size: 24px;
  color: #424242;
  margin: 172px 0 0;
  font-weight: 300;
}
.works_title {
  display: flex;
  justify-content: space-between;
}
.works_title h2 {
  margin-top: 0;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Georgia', sans-serif;
  color: #01996D;
  max-width: 584px;
  line-height: 1.58em;
}
.works_title p {
  max-width: 671px;
  color: #424242;
  font-size: 20px;
  line-height: 1.5em;
}
.works_card {
  display: flex;
}
.card_1 {
  max-width: 390px;
}
.works_card_item h3 {
  font-family: 'Georgia', sans-serif;
  font-size: 150px;
  font-weight: 300;
  color: #01996D;
  opacity: 0.2;
  position: absolute;
  margin-top: 45px;
}
.works_card_item h4 {
  font-family: 'Georgia', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin-top: 156px;
  margin-left: -25px;
}
.works_card_item p {
  font-size: 20px;
  line-height: 1.5em;
  margin-top: 60px;
  padding-bottom: 40px;
}
.monitor1 {
  position: relative;
}
.monitor2 {
  position: absolute;
  margin-left: -185px;
  margin-top: 224px;
}
.card_2 {
  max-width: 392px;
  margin-left: 95px;
  margin-top: 290px;
}
.card_2 img {
  margin-top: -25px;
  margin-bottom: 49px;
}
.card_2_h4 {
  padding-left: 72px;
}
.card_3 {
  /* max-width: 441px; */
  margin-left: 104px;
  margin-top: 50px;
  max-width: 460px;
}
.card_3 img {
  margin-top: -20px;
  margin-top: 150px;
}
.card_3 p {
  position: absolute;
  max-width: 460px;
  margin-left: -5px;
  margin-top: 12px;
}
.about {
  background-color: #245852;
  color: #FFFFFF;
  min-height: 922px;
}
.about1 {
  display: flex;
  justify-content: space-between;
}
.about_left {
  max-width: 600px;
  margin-left: 15px;
}
.about_left h3 {
  margin-top: 310px;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Georgia', sans-serif;
  line-height: 1.57em;
}
.about_left h5 {
  padding: 0;
  font-size: 25px;
  line-height: 1.57em;
  font-weight: 300;
  margin-top: -20px;
}
.about_right {
  padding-left: 50px;
  margin-top: 229px;
  max-width: 895.84;
  height: 516.11;
  margin-right: 15px;
}
.about button,
.product button {
  background-color: #01996D;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  width: 230px;
  height: 65px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 100;
}
.about_video_2 {
  position: absolute;
  margin-left: -485px;
  margin-top: 210px;
}
.about_video_2:hover {
  opacity: 0.8;
}
.product_blok {
  display: flex;
}
.product_left_1 {
  margin-top: 110px;
  margin-left: 60px;
  padding-bottom: 243px;
}
.product_left_2 {
  position: absolute;
  margin-top: 450px;
  margin-left: -720px;
}
.product_right {
  margin-top: 78px;
  margin-left: 88px;
}
.product_right h5 {
  font-size: 24px;
  color: #424242;
  font-weight: 300;
  line-height: 1.57em;
}
.product_right h2 {
  width: 600px;
  margin-top: -30px;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Georgia', sans-serif;
  color: #01996D;
  line-height: 1.58em;
}
.product_right p {
  color: #424242;
  font-size: 20px;
  line-height: 1.5em;
}
.footer {
  background-color: #245852;
  padding: 95px 15px;
}
.footer ul li a {
  color: #FFFFFF;
  font-size: 25px;
  text-decoration: none;
}
.footer .logo {
  margin-bottom: 60px;
}
.footer ul,
.menu_1 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer ul li {
  margin-bottom: 60px;
}
.footer ul li a:hover {
  opacity: 0.8;
}
.footer ul li:last-child {
  margin-bottom: 0;
}
.logo {
}
@media screen and (max-width: 1400px) {
  .menu_2 {
    margin-right: 15px;
  }
}
@media screen and (max-width: 1200px) {
  .menu_container {
    flex-direction: column;
  }
  
  .works_card {
    flex-wrap: wrap;
  }
  .card_3 {
    margin-top: -150px;
    margin-bottom: 50px;
  }
  .about1 {
    flex-wrap: wrap;
  }
  .about_left {
    margin-top: -150px;
  }
  .about_right {
    margin-top: 40px;
    padding-bottom: 60px;
  }
  .product_blok {
    flex-wrap: wrap;
  }
  .product_right {
    margin-top: -120px;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 893px) {
  .menu_1 ul {
    flex-wrap: wrap;
  }
  .works h5 {
    margin-top: 40px;
  }
  .works_title {
    flex-wrap: wrap;
  }
  .card_2 {
    margin-left: 5px;
    margin-top: -40px;
  }
  .card_3 {
    margin-left: 5px;
    margin-top: -90px;
  }
  .about1 {
    min-height: 800px;
  }
  .about_right {
    position: relative;
  }
  .about_video_1 {
    margin-left: -280px;
  }
  .about_video_2 {
    margin-left: -520px;
  }
  .product_right h2 {
    max-width: 500px;
  }
}